<%= @user.user_name %>
<a href="<%= following_user_path(@user) %>">
	<strong>
		<%= @user.following.count %>
	</strong>
		following
</a>
<a href="<%= followers_user_path(@user) %>">
	<strong>
		<%= @user.followers.count %>
	</strong>
	followers
</a>
<%= render 'follow_form' if user_signed_in? %>