<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"></link>
    <title>Photos</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if @items.any? %>
      <% @items.each do |item| %>
        <%= image_tag item.image.url(:medium) %>
        <div class="time-ago">
          <%= time_ago_in_words item.created_at %>
        </div>

        <h2><%= item.description %></h2>
        <h4><%= item.store %></h4>
        <h4><%= item.category %></h4>
        <% if item.price === nil %>
          no price
        <% else %>
          <h5> £<%= sprintf '%.2f', item.price %></h5>
        <% end %>
        <% if user_signed_in? %>
          <div>
            <%= link_to "Like", item_likes_path(item), class: 'likes-link' %>
            <span class="likes_count">
              <%= item.likes.count %>
            </span>
            <span class="likes_pluralisation">
              <%= 'like'.pluralize(item.likes.count) %>
            </span>
          </div>
        <% end %>
        <h5><%= item.rating %></h5>
        <% if item.comments.any? %>
        <% item.comments.each do |comment| %>
          <p><%= comment.thoughts %></p>
        <% end %>
      <% end %>
        <%= form_for [item, item.comments.new] do |f| %>
           <%= f.text_field :thoughts, placeholder: 'Add a comment...' %>
           <%= f.submit 'Leave Comment' %>
         <% end %>
      <% end %>
    <% else %>
      <p>No items yet</p>
    <% end %>
		<%= link_to "Add an item", new_item_path %>
  </body>
</html>